@white: #fff;
@yellow: #ffbf00;
@gray: #d9d9d9;

.logo {
    width: 120px;
    height: 31px;
    background: #333;
    border-radius: 6px;
    margin: 16px 28px 16px 0;
    float: left;
    color: #eee;

    h5 {
        padding: 7px 0 0 10px;
    }
}

.appMenu {
    line-height: 64px;
}

.appContent {
    padding: 20px 50px 0 50px;
}

.appLayout {
    padding: 24px 0;
}

.whiteBg {
    background: @white;
}

.contentSelectPanel {
    padding: 0 24px;
    min-height: 280px;
}

.center {
    text-align: center;
}

.heroIcon {
    padding-right: 5px;
}

.infoPanel {
    font-size: 15px;
    line-height: 30px;
}

.leftPanel {
    border-right: 1px solid @gray;
    padding-right: 24px;
}
